* {
    margin: 0;
    padding: 0;
    } 

    .carousel-inner-1 .carousel-item-1 {
    width: 100px;
    height: 100px;
    overflow: hidden;
   
    }

    .corousel-item-1 .slide {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;

    }

    .corousel-item-1 .slide img {
    width:19.9%;
    
    }

    @keyframes animacao {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }

    }